@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
:root{
    --main-color: #F3F5FC;
    --accent-color: #0A3871;
    --tert-color: white;
    --main-font: "Inter", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--main-color);
    box-sizing: border-box;
    height: 80vh;
    
}
.body__pag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 8% 15%;
    height: 100%;
    gap: 65px;
   
}
.body__pag__ladoesquerdo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.body__pag__input{
    width: 100% ;
    height: 90%;
    resize:none;
    border: none;
    outline: none;
    background-color: var(--main-color);
    font-family: var(--main-font);
    font-size: 2rem;
    color: var(--accent-color);
    
}
.body__pag__input:focus {
    border: none;
    outline: none;
    background-color: var(--main-color);
    
}
.body__pag__input::placeholder{
    color: var(--accent-color);
}


.body__pag__botoes{
    display: flex;   
    justify-content: space-between;
    gap: 32px;
    width: 45vw;
}
.body__pag__botoes__criptografar{
    border: none;
    padding: 24px 0px;
    width: 60%;
    font-family: var(--main-font);
    color: var(--tert-color);
    font-size: 1rem;
    background-color: var(--accent-color);
    border-radius: 24px;
}
.body__pag__botoes__criptografar:hover{
    background-color: #072B61;
}
.body__pag__botoes__descriptografar{
    border: solid 2px var(--accent-color);
    padding: 24px 0px;
    width: 60%;
    font-family: var(--main-font);
    font-size: 1rem;
    color: var(--accent-color);
    background-color: D8DFE8;
    border-radius: 24px;
}
.body__pag__botoes__descriptografar:hover{
    background-color: #EFF1FA;
}

.body__pag__ladodireito{
    padding: 32px;
    display: flex;
    flex-direction: column;
    width: 40%;   
    background-color: var(--tert-color);
    border-radius: 32px;
    box-shadow: 2px 2px 20px black;
}
.body__pag__saida{
    font-family: var(--main-font);
    font-size: 1.5rem;
    resize:none;
    border: none;
    outline: none;
    max-height: 100%;
} 
/* terminar de fazer o textarea. Descobrir como substituir o <h3> e o <p> apenas pelo textarea*/
.body__pag__textovazio{
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    height: auto;
}

.body__pag__head{
    font-family: var(--main-font);
    font-size: 1.5rem;
    
}
.body__pag__parag{
    font-family: var(--main-font);
    font-size: 1rem;
}

.rodape{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 1%;
    background-color: var(--accent-color);
}
.rodape__texto{
    font-size: 1rem;
    font-family: var(--main-font);
    color: var(--tert-color);
}
.imagemLogo{
    width: 2%;
}

@media(max-width: 1000px){
    .body__pag{
        display: flex;
        flex-direction: column;
       
    }
}